@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add a smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}